// page
$first-point: 568px;
$second-point: 667px;
$third-point: 769px;
$fourth-point: 1024px;
$fifth-point: 1170px;
$sixth-point: 1366px;
$sixth-point-xlg: 1600px;
$seventh-point: 1625px;

// PAGE
$page-horizontal-gap: 15px;
$page-horizontal-gap-sm: 45px;
$page-horizontal-gap-md: 50px;
$page-width: 682px;

// FONTS
$font-main: 'Rubik', sans-serif;
$font-weight: 400;
$line-height: 26px;

$font-size-h1: 36px;
$font-size-h1-sm: 34px;
$font-size-h1-lg: 42px;

$font-size-h2: 20px;
$font-size-h2-sm: 24px;
$font-size-h2-lg: 28px;

$font-size-h3: 18px;
$font-size-h3-sm: 20px;
$font-size-h3-lg: 22px;

$font-size: 19px;
$font-size-xs: 16px;

$font-size-h-xs: $font-size-xs;
$font-size-h: $font-size;