$theme-name: 'theme_cold';

//common
$primary-text: #313131;
$primary-fill: #fff;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #313131;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: #fff;
$header-bd: 1px solid #EDF2F5;
$header-color: #313131;

//footer
$footer-bg: #FFF;
$footer-bd: #EDF2F5;

$colored: #6CEEC7;

//banner
$banner-color: #fff;

//form
$form-text: #fff;

//btn
$btn-bd: 2px solid #6CEEC7;
$btn-bd-hov: 2px solid #6CEEC7;
$btn-bg: transparent;
$btn-bg-hov: #6CEEC7;
$btn-color: #6CEEC7;
$btn-color-hov: #000;