mixin banner
    .banner
        .banner__wrap
            .banner__decor
                img(class="lazyload" src="static/img/content/section_1-svg_1.svg" alt="banner background")
            .banner__decor-second
                img(class="lazyload" src="static/img/content/section_1-svg_2.svg" alt="banner background")
            .banner__decor-third
                img(class="lazyload" src="static/img/content/section_1-svg_3.svg" alt="banner background")

            .banner__content-wrap
                .w-center
                    .banner__content
                        .banner__content-logo
                            img(src="static/img/content/logo.svg" alt="logo")
                        .w-gap
                            .banner__content-text Find the <span class="colored">best place <br>to rest</span> while traveling
                        .w-gap
                            .banner__content-btn
                                button.btn Registration