mixin form
    .form__wrap
        .form__decor
            img(class="lazyload" src="static/img/content/section_2-svg_1.svg" alt="banner background")
        .form__decor-second
            img(class="lazyload" src="static/img/content/section_2-svg_2.svg" alt="banner background")
        .form__decor-third
            img(class="lazyload" src="static/img/content/section_2-svg_3.svg" alt="banner background")
        .form__content
            .w-center
                .form__content-wrap
                    .form__content-text <span class="colored">Sign Up</span> and find the best place to rest while traveling
                    .w-gap-sm
                    .alert.alert-danger.form__register-alert.hidden(role='alert')
                    form.form__register-form
                        .form__form-group
                            img.form__input-ico(class="lazyload" src="static/img/content/first-name_icon.svg" alt="first-name icon")
                            input#your-name.form__form-control(type='text' name='name' placeholder='First Name')
                        .form__form-group
                            img.form__input-ico(class="lazyload" src="static/img/content/second-name_icon.svg" alt="second-name icon")
                            input#your-second-name.form__form-control(type='text' name='name' placeholder='Second Name')
                        .form__form-group
                            img.form__input-ico(class="lazyload" src="static/img/content/country_icon.svg" alt="country icon")
                            select#your-country.form__form-control(type='country' name='name'  required)
                                option(value='0' label='Country ' selected='selected') Select a country ...
                                option(value='DZ' label='Algeria') Algeria
                                option(value='AO' label='Angola') Angola
                                option(value='BJ' label='Benin') Benin
                                option(value='BW' label='Botswana') Botswana
                                option(value='BF' label='Burkina Faso') Burkina Faso
                                option(value='BI' label='Burundi') Burundi
                                option(value='CM' label='Cameroon') Cameroon
                                option(value='CV' label='Cape Verde') Cape Verde
                                option(value='CF' label='Central African Republic') Central African Republic
                                option(value='TD' label='Chad') Chad
                                option(value='KM' label='Comoros') Comoros
                                option(value='CG' label='Congo - Brazzaville') Congo - Brazzaville
                                option(value='CD' label='Congo - Kinshasa') Congo - Kinshasa
                                option(value='CI' label='Côte d’Ivoire') Côte d’Ivoire
                                option(value='DJ' label='Djibouti') Djibouti
                                option(value='EG' label='Egypt') Egypt
                                option(value='GQ' label='Equatorial Guinea') Equatorial Guinea
                                option(value='ER' label='Eritrea') Eritrea
                                option(value='ET' label='Ethiopia') Ethiopia
                                option(value='GA' label='Gabon') Gabon
                                option(value='GM' label='Gambia') Gambia
                                option(value='GH' label='Ghana') Ghana
                                option(value='GN' label='Guinea') Guinea
                                option(value='GW' label='Guinea-Bissau') Guinea-Bissau
                                option(value='KE' label='Kenya') Kenya
                                option(value='LS' label='Lesotho') Lesotho
                                option(value='LR' label='Liberia') Liberia
                                option(value='LY' label='Libya') Libya
                                option(value='MG' label='Madagascar') Madagascar
                                option(value='MW' label='Malawi') Malawi
                                option(value='ML' label='Mali') Mali
                                option(value='MR' label='Mauritania') Mauritania

                        .form__form-group
                            img.form__input-ico(class="lazyload" src="static/img/content/phone_icon.svg" alt="phone icon")
                            input#phone.form__form-control(type='text' name='phone' placeholder='Phone')
                        .form__form-group
                            img.form__input-ico(class="lazyload" src="static/img/content/password_icon.svg" alt="password icon")
                            input#password.form__form-control(type='password' name='password' placeholder='Password')
                        .form__form-group
                            img.form__input-ico(class="lazyload" src="static/img/content/confirm-password_icon.svg" alt="confirm password icon")
                            input#password2.form__form-control(type='password' name='password2' placeholder='Password')
                        .form__form-group
                            img.form__input-ico(class="lazyload" src="static/img/content/email_icon.svg" alt="email icon")
                            input#email.form__form-control(type='email' name='email' placeholder='Email')
                        .form__form-group.form__form-checkbox
                            input#terms.form__form-control(type="checkbox" name="terms")
                            span I agree to the <a class="colored" href="terms.html">Terms & Coditions</a>
                        button.btn.btn-default(type='submit') Sign Up
                .w-gap-md
                    p.form__login if you have an account. <a class="colored" href="#">Log In</a>



